{% extends "aswiki/base.html" %}
{% load i18n asutils aswikitags %}
{# You will likely NEED to override this template with your own #}
{% block title %}Create: {{ topic_name }}{% endblock title %}
{% block hierarchy %}{{ block.super }}&raquo;&nbsp;<a href="{% url aswiki_topic_index %}">Topics</a>{% topic_hierarchy topic_name %}{% endblock %}
{% block content_title %}<h1>Creating {{ topic_name }}</h1>{% endblock content_title %}
{% block content %}
{% if preview %}
  <h2>Preview</h2>
  <div class="wiki_content">{{ preview|creole }}</div>
{% endif %}
  <div class="wiki_content_form">
    <form method="POST" id="form_content" action="{% url aswiki_topic topic_name %}">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="submit" value="Create" />
      <input type="submit" name="submit" value="Preview" />
      <input type="submit" name="submit" value="Cancel" />
    </form>
  </div>
{% endblock content %}
